<div class="hvr-grow">
    <div class="card" @onclick="(() => GoToArticle(Id))">
        <div><img src="https://picsum.photos/350/200" width="350" height="200"/></div>
        <div class="title underline-animation">Article about coding</div>
        <div class="description">Do bears like programming? Click here to find out!</div>
    </div>
</div>