<div class="card" @onclick="(() => GoToArticle(Id))">
    <div><img src="https://placebear.com/350/200" width="350" height="200"/></div>
    <div class="title">Article about coding</div>
    <div class="description">Do bears like programming? Click here to find out!</div>
</div>
