:root {
  font-size: 1.65rem;
  line-height: 1.618;
}

html {
  height: 100%;
}

html, body {
  font-family: "Inter", sans-serif;
  margin: unset;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
}

:root {
  --color-royal-purple: #4B0145;
}

.page {
  display: grid;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  grid-template-columns: auto;
  /*    grid-template-columns: minmax(1.2rem, 1fr) auto minmax(1.2rem, 1fr);*/
  grid-template-rows: 4.125rem 8rem 1fr 4.125rem;
}

.page-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*@include shadow;*/
}

.navbar-container {
  grid-column: 1/-1;
  grid-row: 1/1;
  background-color: var(--color-royal-purple);
  color: white;
}

.logo-container {
  grid-column: 1/-1;
  grid-row: 2/2;
  background-color: var(--color-royal-purple);
}

.content-container {
  grid-column: 1/-1;
  grid-row: 3/3;
}

.footer-container {
  grid-column: 1/-1;
  grid-row: 4/4;
  background-color: var(--color-royal-purple);
  color: white;
}

.logo-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
