@use 'base';
@use 'mixins' as *;
@use 'colors';

.page {
    display: grid;
    height: calc(100vh);
    width: calc(100vw);
    max-width: 100%;
    margin: 0;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
    grid-template-rows: 4.125rem 6rem 1fr 4.125rem;
}

.page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*@include shadow;*/
}

.navbar-container {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    background-color: var(--color-royal-purple);
    color: white;
}

.logo-container {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    background-color: #ffd70017;
}

.content-container {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}

.footer-container {
    grid-column: 1 / -1;
    grid-row: 4 / 4;
    background-color: var(--color-royal-purple);
    color: white;
}

.logo-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}