:root {
  --sidebar-color: #74004e;
  --topbar-color: #f7f7f7;
  --sidebar-text-color: white;
  --brand-color: white;
}

.page > div {
  /*border: 2px solid #d8ffff;*/
}

html, body {
  font-family: "Poppins", sans-serif;
  margin: unset;
}

.page {
  display: grid;
  grid-template-columns: 15.625rem 71.25rem 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-gap: 0;
  grid-template-areas: "logo top et" "side main ." "side foot .";
}

.brand {
  grid-area: logo;
  background-color: var(--sidebar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-color);
}

.empty-sidebar {
  grid-area: es;
}

.sidebar {
  grid-area: side;
  background-color: var(--sidebar-color);
}

.topbar {
  grid-area: top;
  background-color: var(--topbar-color);
}

.empty-topbar {
  grid-area: et;
  background-color: var(--topbar-color);
}

.content {
  grid-area: main;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 4rem;
  /*    display: flex;
      align-items: center;
      justify-content: center;*/
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer {
  grid-area: foot;
}

.navmenu {
  list-style-type: none;
}

.topbar > .navmenu {
  display: flex;
  justify-content: space-around;
}

ul.navmenu {
  padding: unset;
}

.sidebar > .navmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar > .navmenu > .navitem {
  height: 5rem;
  font-size: large;
}

.sidebar .navitem {
  color: var(--sidebar-text-color);
}
