@use 'base';
@use 'mixins' as *;
@use 'colors';

.page {
    display: grid;
    height: calc(100vh);
    width: calc(100vw);
    max-width: 100%;
    margin: 0;
    grid-template-columns: auto;
    /*    grid-template-columns: minmax(1.2rem, 1fr) auto minmax(1.2rem, 1fr);*/
    /*    grid-template-rows: 4.125rem minmax(4.2rem, 8rem) 1fr 4.125rem;*/
    grid-auto-rows: minmax(min-content, max-content);
}

.page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*@include shadow;*/ 
}

.navbar-container {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    background-color: var(--color-royal-purple);
    color: white;
}

.logo-container {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    background-color: var(--color-royal-purple);
    max-height: 8rem;
}

.content-container {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    margin-bottom: 1rem;
}

.footer-container {
    grid-column: 1 / -1;
    grid-row: 4 / 4;
    background-color: var(--color-royal-purple);
    color: white;
}

.logo-container > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-container > a {
    width: 100%;
    height: 100%;
}