@use 'colors';

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: unset;
    margin: 0;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav-item a {
	text-decoration: none;
	color: var(--color-yellow);
}

.nav-item a.active {
    text-decoration: none;
}

.nav-item {
	font-size: x-large;
}

#login-navbar {
	float: right;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

#login-navbar * {
	color: var(--color-yellow);
}