@inherits LayoutComponentBase

<div class="page">
    <div class="page-item navbar">NAVBAR</div>
    <div class="page-item logo">
        <img src="/img/lines.svg"/>
    </div>
    <div class="page-item main">@Body</div>
    <div class="page-item footer">FOOTER</div>
</div>