@inherits LayoutComponentBase

<div class="page">
    <div class="page-item navbar-container">
        <NavBar />
    </div>
    <div class="page-item logo-container">
        <img src="https://placebear.com/740/160"/>
    </div>
    <div class="page-item content-container">@Body</div>
    <div class="page-item footer-container">FOOTER</div>
</div>