@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@


<div class="page">
    <div class="buffer-left"></div>
    <div class="buffer-right"></div>
    <div class="brand">logo</div>
    <div class="sidebar">
        <ul class="navmenu">
            <li class="navitem">Button 1</li>
            <li class="navitem">Button 2</li>
            <li class="navitem">Button 3</li>
            <li class="navitem">Button 4</li>
            <li class="navitem">Button 5</li>
        </ul>
    </div>
    <div class="topbar">
        <ul class="navmenu">
            <li class="navitem">Button 1</li>
            <li class="navitem">Button 2</li>
            <li class="navitem">Button 3</li>
            <li class="navitem">Button 4</li>
            <li class="navitem">Button 5</li>
        </ul>
    </div>
    <div class="content">@Body</div>
    <div class="footer">Footer</div>
</div>