<div class="navbar">
    <div class="nav-item hvr-grow">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">HOME</NavLink>
    </div>
    <div class="nav-item hvr-grow">
        <NavLink class="nav-link" href="about">ABOUT</NavLink>
    </div>
</div>

<LoginDisplay />


@code {

}
