<div class="navbar">
    <ul class="navbar-items">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li><img src="https://placebear.com/74/61" width="74" height="61"/></li>
        <li class="nav-item">
            <NavLink class="nav-link" href="about">About</NavLink>
        </li>
    </ul>
</div>



@code {

}
