@inherits LayoutComponentBase

<div class="grid">
    <div class="grid-item a"><h1>Sidebar</h1></div>
    <div class="grid-item b"><h1>Profile</h1></div>
@*    <div class="grid-item c">NEW BOOK</div>*@
    <div class="grid-item d"><h1>Body</h1></div>
    <div class="grid-item e"><h1>Ads</h1></div>
    <div class="grid-item f"><h1>Navbar</h1></div>
    <div class="grid-item g"><h1>Footer</h1></div>
@*    <div class="grid-item h">BANDAID</div>*@

</div>