@page "/"
@namespace Blog.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS Blog</title>
    <base href="~/" />
    <link rel="icon" type="image/png" href="img/favicons/ff1.svg" sizes="16x16">
@*    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="Blog.Web.styles.css" asp-append-version=true/>
    <link rel="stylesheet" href="css/animations.scss" asp-append-version=true/>
    <link rel="stylesheet" href="css/article-layout.scss" asp-append-version=true/>
    <link rel="stylesheet" href="css/card-layout.scss" asp-append-version=true/>
    <link rel="stylesheet" href="css/cards.scss" asp-append-version=true/>
    <link rel="stylesheet" href="css/hover-min.css" asp-append-version=true/>
    <link rel="stylesheet" href="css/layout.scss"asp-append-version=true/>
    <link rel="stylesheet" href="css/navbar.scss"asp-append-version=true/>
    <link rel="stylesheet" href="css/style.scss"asp-append-version=true/>

 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
    <link href="highlight.js/monokai-sublime.min.css" rel="stylesheet">

    @* 
    <link rel="stylesheet" href="css/layout/main/mainlayout.scss"/>
    <link rel="stylesheet" href="css/layout/stacked/stackedlayout.scss"/>
    <link rel="stylesheet" href="bundle.css"/>
 *@



</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    <script>
        hljs.configure({   // optionally configure hljs
          languages: ['javascript', 'ruby', 'python']
        });

        var quill = new Quill('#editor', {
          modules: {
            syntax: true,              // Include syntax module
            toolbar: [['code-block']]  // Include button in toolbar
          },
          theme: 'snow'
        });
    </script>
    
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
