@page "/"
@namespace Blog.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS Blog</title>
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
 @*   <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="Blog.Web.styles.css" />
    <link rel="stylesheet" href="css/style.scss"/>
@*    <link rel="stylesheet" href="css/layout/main/mainlayout.scss"/>
    <link rel="stylesheet" href="css/layout/stacked/stackedlayout.scss"/>*@
    <link rel="stylesheet" href="css/layout.scss"/>
    @*<link rel="stylesheet" href="bundle.css"/>*@

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
