@page "/article/{id}"

<ArticleLayout>
    <h3>Article id: @Id</h3>
@*    <form>
        <label class="col-xl-3 col-lg-3 col-form-label text-sm-left text-lg-right">Description</label>
        <div class="col-lg-9 col-xl-6">
            <InputRichText @bind-Value="Model.Text" class="form-control form-control-solid form-control-lg"></InputRichText>
            <ValidationMessage For="@(() => Model.Text)" />
        </div>
    </form>*@


<SurveyPrompt Title="How is Blazor working for you?" />
<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    Welcome to your new app.Welcome to your new app.e to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wel
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
</p>
<p>
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app. to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app. to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app.
    Welcome to your new app. to your new app.
    Welcome to your new app.
</p>

<FetchData/>
<FetchData/>
</ArticleLayout>

