@page "/article/{id}"

<ArticleLayout>
    <h3>Article id: @Id</h3>

<SurveyPrompt Title="How is Blazor working for you?" />
<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    Welcome to your new app.Welcome to your new app.e to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wele to your new app.Wel
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
</p>
<p>
    Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app. to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app. to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app.
Welcome to your new app. to your new app.
Welcome to your new app.
</p>

<FetchData/>
<FetchData/>
</ArticleLayout>

