@page "/article/{id}"

<ArticleLayout>
    <div class="editor">
        <Editor Conf=@EditorConfig @bind-Value=Content />
    </div>
            
    <p>Preview</p>
    @((MarkupString)Content)

    @*<hr />
    Raw:
    <textarea @bind=Content @bind:event="oninput"></textarea>*@
    <p>asdasdasdasdasdasdasdasdasdasdasdasdaadfgadfgsfgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsafgadfgsaadfgdfasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd</p>
</ArticleLayout>
