@page "/article/{id}"

<ArticleLayout>  
    @((MarkupString)Content)
    <hr />
    <div class="editor">
        <Editor Conf=@EditorConfig @bind-Value=Content />
    </div>
    <button @onclick="Save">Save</button>
    <button>Discard="Discard"</button>
</ArticleLayout>
