@page "/"

<h1>Recent Articles</h1>

<CardLayout>

    <button @onclick="AddArticle">Add New Article</button>
	<div class="cards">
	@if(Cards != null && Cards.Length > 0)
	{
		@foreach(var card in Cards)
		  {
			<Card id="@card"/>
		  }
	}
	</div>

</CardLayout>


